@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: cursive;
}

body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(180deg, #38382e 20%, #080801 90%);
}

.fetch {
  margin-top: 3rem;
  background: linear-gradient(180deg, #313131 5%, #5f5f55 80%);
  border-radius: 10% / 12%;
  box-shadow: 0 -4px 10px rgba(212, 212, 212, 0.25);
}

.fetch-btn {
  color: #f5f1cf;
  background: #cab706;
  border: 2px solid #e7e1c9;
  border-radius: 60% / 15%;
  transition: all 0.2s ease-in;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  word-spacing: 8px;
  letter-spacing: 2px;
}

.fetch-btn:hover {
  background: #b19f03;
  color: #ffffff;
  border: 2px solid #f8f6ea;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.4);
}

.movies {
  margin-top: 2rem;
  background: linear-gradient(180deg, #5f5f55 5%, #202020 90%);
  border-radius: 1% / 15%;
  box-shadow: 0 10px 25px rgba(199, 199, 199, 0.35);
}

.movies .loading,
.movies .error {
  border-bottom: 2px solid #e7e1c9;
  padding: 20px 30px;
  border-radius: 80% / 10%;
  color: #f5f1cf;
  font-size: 1.5rem;
}
