@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#161616, #7a7970);
  color: #d9e2f1;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

#main-header {
  margin: 2rem auto;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #a7a587;
}

#main-header img {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  filter: drop-shadow(0 0 8px rgba(28, 27, 14, 0.8));
}

#main-header h1 {
  margin-top: 0;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: 2rem auto;
}

section {
  margin: 2rem 0;
}

#configure-counter {
  margin: 0 auto;
  padding: 0;
  border-radius: 6px;
  text-align: center;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border: none;
}

#configure-counter h2 {
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #dbd688;
}

#configure-counter input {
  width: 4rem;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem 0.25rem;
  border: 1px solid #dbd688;
  border-radius: 50% / 25%;
  background-color: #0e1a1c;
  color: #e6e2bf;
  font-size: 1rem;
}

#configure-counter input::-webkit-outer-spin-button,
#configure-counter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#configure-counter input[type='number'] {
  -moz-appearance: textfield;
}

#configure-counter button {
  cursor: pointer;
  background: transparent;
  color: #d8d496;
  border: none;
}

#configure-counter button:hover {
  color: #f3e416;
}

.counter {
  padding: 2.5rem;
  border: 1px solid #827605;
  border-radius: 70% / 20%;
}

.counter p {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.5rem;
}

.counter .counter-info {
  display: block;
  font-size: 0.8rem;
  color: #c5bf9d;
  text-align: center;
  margin-bottom: 1rem;
}

.counter-output {
  font-size: 3rem;
  font-weight: bold;
  color: #dad6b5;
}

.counter-output.negative {
  color: #ee8585;
}

.counter ol {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

.counter li {
  width: 2rem;
  margin-left: 0.5rem;
  color: #b6b08e;
  padding: 0.2rem;
}

.counter li:first-child {
  color: #f0e587;
  font-weight: bold;
  font-size: 1.2rem;
}

.counter li.selected {
  background-color: #544f33;
  color: #f7f4d9;
  border-radius: 4px;
}

.button {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #f3e416;
  color: #051a19;
  font-weight: bold;
  border: none;
  border-radius: 50% / 15%;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #f3cb16;
}

.button-icon {
  color: #1a1705;
  height: 0.9rem;
}
