.form {
  margin: 1rem 0;
  height: 21.5rem;
  padding: 1.3rem 1.5rem;
  overflow: auto;
  background: linear-gradient(#e9e9e9, #b8b8b8);
  border-radius: 90% / 5%;
}

.control {
  margin-bottom: 0.8rem;
}

.control label {
  font-size: 0.95rem;
  font-weight: bold;
  margin-bottom: 0.15rem;
  display: block;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 20rem;
  max-width: 100%;
  outline: none;

  &:focus {
    border-color: #b89c01;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  font: inherit;
  color: #705e0e;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 90% / 18%;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in;
}

.actions button:hover,
.actions button:active {
  background-color: #f0df70;
  color: rgb(85, 66, 6);
}

.actions .submit {
  border: 1px solid #5a1a01;
  background-color: #5a1a01;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #7a2706;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}

.invalid .errorMsg {
  width: 20rem;
  font-size: 0.8rem;
  color: #e46677;
  padding: 5px 5px;
  border-bottom: 1px solid #db7a879a;
  margin-top: 0;
  border-radius: 80% / 40%;
  text-align: center;
}
