.movie {
  margin: 1rem 2rem;
  padding: 1rem;
  background-color: #2c2c29;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.56);
  border-radius: 70% / 8%;
  text-align: center;
  color: white;
  border: 3px solid #eeebe4;
}

.movie h2 {
  font-size: 2rem;
  color: #d6af03;
}

.movie h3 {
  color: #eccf77;
  margin: 0;
  font-size: 1rem;
}
