@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#1f1f1e 25%, #696966 90%);
  color: #f1efd9;
  min-height: 100vh;
}

header {
  margin: 1rem 0;
  text-align: center;
}

header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #8a8775;
  filter: drop-shadow(0 0px 44px rgba(194, 186, 145, 0.9));
}

header h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 1rem 0;
  letter-spacing: 0.2rem;
  color: #dad181;
  text-shadow: 0 7px 8px rgba(194, 186, 145, 0.3);
}

form {
  width: 90%;
  max-width: 40rem;
  margin: 1rem auto 10rem;
  padding: 0.5rem 2rem;
  background: linear-gradient(180deg, #1d1d1b, #686865);
  border-radius: 8px;
  box-shadow: 0 20px 18px 3px rgba(0, 0, 0, 0.44);
}

.lineBrake {
  margin: 1.7rem 0;
  opacity: 0.5;
  box-shadow: 0 4px 5px rgba(238, 238, 238, 0.4);
}

.control,
fieldset {
  margin-bottom: 1.3rem;
}

.control.no-margin {
  margin-bottom: 0;
}

.control label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  color: #fffbe7;
  text-transform: uppercase;
  font-weight: bold;
}

.control input {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #8a8675;
  background-color: #cac9b7;
  color: #142020;
}

.control select {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #bebcb0;
  background-color: #cac9b7;
  color: #142020;
}

.control:has(input[type='checkbox']) {
  display: flex;
  margin-top: 0.5rem;
  /* align-items: center; */
}

.control:has(input[type='checkbox']) label {
  margin: 0;
}

.control input[type='checkbox'] {
  display: inline-block;
  width: auto;
  max-width: none;
  margin-right: 0.5rem;
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: #f1efd9;
}

.control-error {
  color: #f5c8d9;
  font-size: 0.9rem;
  height: 2rem;
  padding: 0.5rem 0;
}

.control-error p {
  margin: 0;
}

.control-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1.5rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.button {
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border-radius: 80% / 15%;
  border: none;
  background-color: #ceb738;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 3px;
  font-weight: bold;
  transition: all 0.3s ease-in;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.45);
}

.button:hover,
.button:focus {
  background-color: #ffd902;
  color: #38320d;
}

.button-flat {
  background-color: transparent;
  color: #e9e6d2;
  border: none;
  box-shadow: none;
}

.button-flat:hover,
.button-flat:focus {
  background-color: transparent;
  color: #fae101;
  border: none;
}
