.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.mealsLoading {
  width: 15rem;
  margin: 2rem auto;
  padding: 10px 0;
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 1.2rem;
  color: #ccb802;
  border-bottom: 3px solid #ccb802;
  border-radius: 90% / 25%;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
