* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-primary-100: #fcf3e1;
  --color-primary-200: #fceccd;
  --color-primary-300: #fae1af;
  --color-primary-400: #fbd997;
  --color-primary-500: #ffd37c;
  --color-primary-600: #f9c762;
  --color-primary-700: #fbc14d;
  --color-primary-800: #fab833;
  --color-primary-900: #f6ad1b;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*_____________________MAIN HEADER___________________*/
.main-header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .header-list {
    display: flex;
    gap: 1rem;

    & a {
      text-decoration: none;
      color: var(--color-primary-300);
      padding: 5px 2px;
      transition: all 0.2s ease-in;
      cursor: pointer;

      &:hover,
      &.active {
        color: var(--color-primary-800);
        border-bottom: 1px solid;
      }
    }
  }
}

/*_____________________EVENT HEADER___________________*/
.event-header {
  padding: 2rem;
  display: flex;
  justify-content: center;

  & .event-list {
    display: flex;
    gap: 1.5rem;

    & a {
      background-color: var(--color-gray-500);
      color: var(--color-gray-900);
      padding: 0.5rem 1.5rem;
      border-radius: 5% / 55%;
      text-decoration: none;
      transition: all 0.2s ease-in;
      box-shadow: 0 2px 10px rgba(255, 255, 255, 0.35);

      &:hover,
      &.active {
        background-color: var(--color-primary-600);
      }
    }
  }
}

/*_____________________EVENTS___________________*/
.events {
  margin: 2rem auto;
  max-width: 40rem;

  & h1 {
    text-align: left;
    padding-left: 25px;
  }

  & .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & .item {
    & a {
      text-decoration: none;
      color: inherit;
      display: flex;
      background-color: var(--color-gray-800);
      border-radius: 3% / 55%;
      overflow: hidden;

      &:hover {
        transform: scale(1.02);
        background-color: var(--color-gray-700);
      }
    }

    & img {
      width: 33%;
      object-fit: cover;
    }
  }

  & .content {
    padding: 1rem;

    & h2 {
      margin: 0 0 1rem 0;
    }
  }
}

/*_____________________EVENT ITEM___________________*/
.event-item {
  max-width: 50rem;
  margin: 2rem auto 7rem;
  text-align: center;

  & img {
    width: 30rem;
    border-radius: 4px;
  }

  & .actions {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0;

    & a,
    & button {
      padding: 0.25rem 0.4rem;
      margin-inline: 1rem;
      text-decoration: none;
      border-bottom: 1px dotted transparent;
      font: inherit;
      cursor: pointer;
    }

    & a:hover {
      border-bottom: 1px dotted;
      color: rgb(177, 124, 236);
    }

    & button {
      background-color: transparent;
      border: 1px dotted transparent;
      color: var(--color-primary-600);

      &:hover {
        color: #e49a07;
        border-bottom: 1px dotted;
      }
    }
  }
}

/*_____________________FORM___________________*/
.form {
  max-width: 40rem;
  margin: 2rem auto;

  & label {
    text-align: left;
    padding-left: 10px;
    margin-bottom: 5px;
    color: #f1e4c9;
  }

  & label,
  & input,
  & textarea {
    display: block;
    width: 100%;
  }

  & input {
    margin-bottom: 1.5rem;
  }

  & input,
  & textarea {
    font: inherit;
    padding: 0.35rem 0.7rem;
    resize: none;
    border-radius: 35% / 8%;
  }

  .actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;

    & button {
      font: inherit;
      cursor: pointer;
      padding: 0.8rem 1.5rem;
      border-radius: 20% 55%;
      background-color: var(--color-gray-300);
      color: var(--color-gray-800);
      border: none;

      &[type='button'] {
        background-color: transparent;
        color: var(--color-gray-300);
      }

      &:hover {
        background-color: var(--color-primary-400);
      }

      &[type='button']:hover {
        background-color: var(--color-gray-800);
      }
    }
  }
}

/*_____________________Auth-FORM___________________*/
.auth-form {
  max-width: 40rem;
  margin: 2rem auto;

  & h1 {
    width: 15rem;
    margin: 3rem auto;
    padding-bottom:  20px;
    border-bottom: 0.5px solid #635f57;
    border-radius: 95% / 10%;
    text-shadow: 0 2px 8px rgba(255, 255, 255, 0.4);
  }

  & label {
    color: #f1e4c9;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 10px;
  }

  & label,
  & input,
  & textarea {
    display: block;
    width: 100%;
  }

  & input,
  & textarea {
    font: inherit;
    padding: 0.65rem 1rem;
    border-radius: 25% 5%;
    margin-bottom: 2rem;
  }

  & .actions {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;

    & button {
      font: inherit;
      cursor: pointer;
      padding: 0.5rem 1.5rem;
      border-radius: 35% 5%;
      background-color: var(--color-gray-300);
      color: var(--color-gray-800);
      border: 2px solid #3b3a3a;
      transition: all 0.2s ease-in;

      &:hover {
        background-color: var(--color-primary-400);
        border-color: #ffffff;
      }
    }

    & a {
      text-decoration: none;
      background-color: transparent;
      color: var(--color-gray-300);

      &a:hover {
        background-color: var(--color-gray-800);
      }
    }
  }
}

/*_____________________ERROR PAGE___________________*/
.noPage-error {
  width: 35rem;
  padding: 3rem 1rem;
  margin-top: 3rem;
  border: 1px solid #f6ad1b;
  border-radius: 40% / 5%;
  box-shadow: 0 22px 32px rgba(235, 214, 123, 0.09);

  & h1 {
    color: rgb(196, 17, 86);
    margin-bottom: 3rem;
  }

  & p {
    color: #f6ad1b;
    font-size: 1.2rem;
  }
}

/*_____________________Newsletter Signup___________________*/
.newsletter input,
.newsletter button {
  font: inherit;
  padding: 0.35rem 0.75rem;
  border-radius: 0;

  border: none;
}

.newsletter button {
  border-top-right-radius: 30% 45%;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.newsletter button:hover {
  background-color: var(--color-primary-300);
  color: var(--color-gray-800);
}

main {
  margin: 2rem auto;
  text-align: center;
}

.content {
  text-align: center;
}
