@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(180deg, #38382e 0%, #080801 100%);
}

.header {
  text-align: center;
  margin: 2rem 0 3rem;

  & h1 {
    width: 15rem;
    margin: 0 auto;
    padding: 10px;
    color: #c7ba08;
    border-bottom: 2px solid #c7ba08;
    border-radius: 70% /12%;
  }

  & h3 {
    color: antiquewhite;
  }
}

button {
  cursor: pointer;
  font: inherit;
  background-color: #36352d;
  border: 3px solid #f1e892;
  border-radius: 80% / 25%;
  padding: 0.5rem 2rem;
  color: white;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in;
}

button:hover,
button:active {
  background-color: #ddd23d;
  border-color: #ffffff;
  color: #000000;
}
