@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(#161616, #7a7970);
  color: #585848;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #e7dc76;
  color: rgb(39, 39, 39);
  border: none;
  border-radius: 70% / 15%;
  padding: 0.75rem 2rem;
  transition: all 0.3s ease-in;
}

button:hover,
button:active {
  background-color: #cebb11;
}
